﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Paulo's ToDo List</h1>
    <p class="lead">For Hotels4U.</p>
</div>

<div ng-app="todoApp">
    <div ng-controller="ToDoCtrl">
        <div class="row" role="form">
            <div class="col-lg-6">
                <form name="taskForm">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control" name="description" ng-model="taskDescription" ng-minlength="3" ng-maxlength="150" required />
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" ng-click="addNewTask(taskDescription)">Add</button>
                            </span>                            
                        </div>
                        <div class="field-validation-error" ng-show="taskForm.description.$error.required">Required!</div>
                        <div class="field-validation-error" ng-show="taskForm.description.$error.minlength">Too short!</div>
                        <div class="field-validation-error" ng-show="taskForm.description.$error.maxlength">Too long :(</div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Due date</th>
                        <th>Completed date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in todo.items">
                        <td>{{item.Task}}</td>
                        <td>{{item.DueDate}}</td>
                        <td>{{item.CompletedDate}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    
    @Scripts.Render("~/bundles/angular")

    <script>
        var todoApp = angular.module("todoApp", []);

        var model = {};

        todoApp.factory("todoService", function($http) {
            return {
                getTasks: function() {
                    return $http.get("/TodoList/API/TodoList");
                },
                addTask: function(data) {
                    var task = { Task: data };
                    return $http.post("/TodoList/API/TodoList", task);
                }
            }
        });

        todoApp.controller("ToDoCtrl", function($scope, todoService) {

            var getPromise = todoService.getTasks();

            getPromise.success(function(data) {
                model.items = data;
            });

            $scope.todo = model;

            $scope.addNewTask = function (taskDescription) {

                var postPromise = todoService.addTask(taskDescription);

                postPromise.success(function (data) {
                    $scope.taskDescription = "";

                    $scope.todo.items.push(data);
                });
            };
        });
    </script>
}